@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
}
body {
    background: black;
    font-family: "Heebo", sans-serif;
}
ul > li {
    margin-left: 1.2rem;
}
p {
    text-indent: 1rem;
}
h1,
h2,
h3,
h4,
strong {
    font-weight: 900;
}

h1 {
    font-size: 6rem;
    line-height: 6rem;
}
h2 {
    font-size: 2.5rem;
    line-height: 2.75rem;
}
#wrap {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#split {
    position: absolute;
    top: 0;
    left: -10vw;
    display: flex;
    width: 130vw;
    overflow-x: scroll;
    transition: all 0.35s ease;
}

#threeWrap {
    margin: 0;
    width: 80vw;
    height: 100vh;
    overflow: hidden;
}

/* .webgl {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;
} */

.details {
    margin: 0;
    padding: 1rem;
    width: 20vw;
    height: 100vh;
    font-size: 1.4rem;
}
#clients {
    color: #6495ed;
    text-align: right;
}
ul {
    list-style-type: none;
}
#gear {
    color: #ff6f00;
}

@media (max-width: 600px) {
    #wrap {
        position: relative;
        width: 100%;
        height: auto;
        overflow: visible;
    }
    #split {
        position: relative;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        overflow: visible;
    }
    .details {
        width: 100%;
    }
}
